main {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 15px;
    padding: 10px;
}

.content {
    display: grid;
    grid-template-rows: repeat(auto, auto);

    gap: 10px;
}

.blog-text {
    justify-self: center;
}

.blog-creator {
    justify-self: end;
}