main {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 15px;
    padding: 10px;
}

form {
    display: grid;
    grid-template-rows: repeat(auto, auto);
}

.content {
    display: grid;
    grid-template-rows: repeat(auto, auto);

    gap: 10px;
}

.comments {
    display: grid;
    gap: 5px;
}

.blog-text {
    justify-self: center;
}

.blog-creator {
    justify-self: end;
}


button {
    justify-self: end;
}

.comments-list {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    margin-top: 20px;
    gap: 15px;
}

.comment-li {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    align-items: center;
    gap: 4px;
    
    border: 2px solid black;
    padding: 10px;
}

@media (min-width: 600px) {
    .content {
        gap: 24px;
    }
    .blog-title {
        text-align: center;
    }

    .blog-creator {
        justify-self: center;
    }
    
    .comments-heading {
        text-align: center;
    }

    .comments {
        gap: 10px;
    }
}