body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 1.5fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black;
}

.main-heading {
    grid-column: 1 / -1;
}



.nav-ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media ( min-width: 600px ) {
    nav {
        padding: 10px 0px;
    }

    .nav-ul {
        gap: 50px;
    }

    main {
        padding: 10px 50px;
    }

    .blog {
        background-color: rgba(97, 255, 247, 0.699);
    }
}