body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 1.5fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black;
}

.main-heading {
    grid-column: 1 / -1;
}



.nav-ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 0;
    margin: 0;
}